.popup {
    position: relative;
    visibility: hidden;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.active {
    visibility: inherit;
}

.popup__body {
    position: absolute;
    background: var(--background-main-color);
    border: 1px solid var(--line-add-color);
    border-radius: 10px;
    width: 600px;
    height: 700px;
    padding: 30px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 2000;

}

.popup__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--line-add-color);
}

.popup__add {
    font-size: 17px;
}

.popup__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

input {
    border: 1px solid var(--line-add-color);
    width: 370px;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 20px;
}

.popup__text {
    border: 1px solid var(--line-add-color);
    width: 370px;
    height: 50px;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 20px;
    resize: none;
}

.popup__image::placeholder {
    color: rgba(68, 68, 68, 0.3);
}

.popup__img {
    border: 1px solid var(--line-add-color);
    border-radius: 10px;
    margin-bottom: 30px;
    width: 370px;
    height: 200px;
}

.popup__button {
    background: var(--line-main-color);
    color: #FFF;
    padding: 10px 20px;
    border-radius: 15px;
}

.popup__button:hover {
    background-color: #ff0000;
    color: #FFF;
}