.container {
  margin: 0 auto;
  max-width: 1200px;
}

button {
  background: transparent;
  font-size: 17px;
}

button:hover {
  color: var(--line-main-color);
}

.fa-heart path {
  fill: #FFF;
  stroke: var(--text-main-color);
  stroke-width: 40px;
}

.fa-heart path:hover {
  stroke: var(--line-main-color);
}

.fa-heart .active {
  fill: var(--line-main-color);
  stroke-width: 0;
}

.fa-heart .active:hover {
  stroke: var(--line-main-color);
  stroke-width: 40px;
}