.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid var(--line-add-color);
}

.header__logo_img {
    width: 80px;
}

.header__button_container {
    display: flex;
    gap: 20px;
}